<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="/">Sayomi Art</a></h1>
						<nav class="links">
							<ul>
								<li><a href="/pages/design">Design</a></li>
								<li><a href="/pages/fashion">Fashion</a></li>
								<li><a href="/pages/game">Game</a></li>
								<li><a href="/pages/music">Music</a></li>
								<li><a href="#">Downloads</a></li>
							</ul>
						</nav>
						<nav class="main">
							<ul>
								 <!--<li class="search">
									<a class="fa-search" href="#search">Search</a>
									<form id="search" method="get" action="#">
										<input type="text" name="query" placeholder="Search" />
									</form>
								</li> -->
								<li class="menu">
									<a class="fa-bars" href="#menu">Menu</a>
								</li>
							</ul>
						</nav> 
					</header>

				<!-- Menu -->
					<section id="menu">

						<!-- Search 
							<section>
								<form class="search" method="get" action="#">
									<input type="text" name="query" placeholder="Search" />
								</form>
							</section> -->

						<!-- Links -->
							<section>
								<ul class="links">
									<li>
										<a href="/pages/design">
											<h3>Art and Design</h3>
											<p>create something we can enjoy</p>
										</a>
									</li>
									<li>
										<a href="/pages/fashion">
											<h3>Fashion or Not</h3>
											<p>pupolar, trend and unique</p>
										</a>
									</li>
									<li>
										<a href="/pages/game">
											<h3>Game for Fun</h3>
											<p>every day you play on a new field</p>
										</a>
									</li>
									<li>
										<a href="/pages/music">
											<h3>Music with love</h3>
											<p>Where words fail, music speaks...</p>
										</a>
									</li>
								</ul>
							</section>

						<!-- Actions -->
							<section>
								<ul class="actions stacked">
									<li><a href="https://sayomi.art/admin" class="button large fit">Log In</a></li>
								</ul>
							</section>

					</section>
            </div>